body{
    margin-left: 10px;
    margin-top: 50px;
    background-color:black;
}
button{
    margin-left: 100px;
    color: white;
    background-color: #FF4D4D;
    cursor: pointer;
    border-radius: 10PX;
    font-size: 30px;
    border-color: #FF4D4D;
}
h1 {
    color:white;
}
@media (min-width:769px){
body{
    margin-left: 350px;
    margin-top: 200px;
    background-color:black;
}
button{
    margin-left: 100px;
    color: white;
    background-color: #FF4D4D;
    cursor: pointer;
    border-radius: 10PX;
    font-size: 30px;
    border-color: #FF4D4D;
}
}